@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #242424;
  display: block;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  margin: 15px;
  overflow: auto;
}

header {
  margin: -10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid white;
  width: 100vw;
  position: relative;
  left: -20px;
  padding: -10px;
  box-sizing: border-box;
}

h1, h2, h4 {
  font-weight: normal;
}

h1 {
  font-size: 48px;
  color: white;
}

h2 {
  font-size: 16px;
  text-align: justify;
  color: white;
}

h4 {
  font-sizs: 6px;
  text-align: justify;
  color: white;
}

hr {
  border: none;
  border-top: 1px solid white;
  width: 100vw;
  margin: -10px 0;
  margin-bottom: 15px;
  position: relative;
  left: -20px;
  padding: -20px;
}
