@font-face {
    font-family: 'Aeial';
    src: url('../fonts/arial.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #111111;
  font-family: 'Arial', sans-serif;
  font-color: white;
  font-weight: normal;
}

h1 {
  font-size: 24px;
  border-bottom: 1px solid white;
  width: 100%;
  font-weight: bold;
}

h2 {
  font-size: 14px;
}

h4 {
  font-sizs: 6px;
}
